body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 22px;
}

#status {
  margin: 10px;
  color: gray;
}

#news {
  background: #1a1a1a;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 350px;
}

button {
  padding: 12px 25px;
  border: none;
  background: #00ff88;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}
