body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

button {
  margin-top: 15px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#updateBtn {
  background: #ffb300;
}

#updateBtn:hover {
  background: #ffaa00;
}
